/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "MS Gothic", sans-serif; /* ゴシック体 */
    line-height: 1.6;
    background-image: url('カピバラ.png'); /* 背景画像の設定 */
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-color: rgba(255, 255, 255, 0.7); /* ナビゲーションの背景色 (白色で半透明) */
}

.block {
    background-color: rgba(255, 255, 255, 0.7); /* 各セクションの背景色 (白色で半透明) */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

/* ナビゲーションスタイル */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #555;
}
